---
export interface Props {
	title: string;
}

import "../styles/app.pcss";

const { title } = Astro.props;
const description = "The House Group - Website Coming Soon";
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<meta name="description" content={description} />
		<meta property="og:locale" content="en_GB" />
		<meta property="og:title" content={title} />
		<meta property="og:site_name" content={title} />
		<meta property="og:url" content={Astro.url.href} />
		<meta property="og:description" content={description} />
		<meta name="twitter:title" content={title} />
		<meta name="twitter:description" content={description} />
	</head>
	<body>
		<slot />
	</body>
	<script
		async
		defer
		rel="preconnect"
		src="https://cabin.thehouse-group.com/hello.js"></script>
</html>
